.header {
  @extend .outlook;
  @extend .display-flex;
  justify-content: space-between;
  section {
    width: 10%;
  }
  button {
    &:first-child {
      width: 45%;
      @include btn-variant($body-bg, $gray);
    }
    &:last-child {
      width: 45%;
      @include btn-variant($gray, $white);
    }
  }
}
