.header {
  //TODO feedback: 一下应该使用@include而不是@extend, 要去了解一下二者的区别
  @extend .outlook;
  @extend .display-flex;
  justify-content: space-between;
  section {
    width: 10%;
  }
  button {
    &:first-child {
      width: 45%;
      @include btn-variant($body-bg, $gray);
    }
    &:last-child {
      width: 45%;
      @include btn-variant($gray, $white);
    }
  }
}
